.wrapper {

}

@media (max-width: 768px) {
  .wrapper {
    width: 200px;
    height: 210px;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 64px;
    right: 16px;
    background: #0A2640;
    padding: 12px;
    border-radius: 8px;
    
    ul {
      flex-direction: column;
      li {
        a {
          color: white;
        }
      }
    }

  }
  .wrapper.wrapper--active {
    display: block;
  }
}
